header.page {
  margin-top: 120px;
  height: 400px;
  background-color: rgb(255, 196, 0);
  background-image: url("/images/inspiration-geometry.png");
  position: fixed;
  top: 0; 
  width: 100%; 
}

header.page div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}