header.page {
  height: 400px;
  background-color: rgba(243, 154, 22, 0.822);
  background-image: url("/images/inspiration-geometry.png");
}

header.page div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}