header.page {
  height: 400px;
  width: 100%;
  background-color: rgb(255, 196, 0);
  background-image: url("/images/inspiration-geometry.png");
}

header.page div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}