article {
  border: 3px solid black;
  border-radius: 5px;
  margin: 2em;
}

article:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

article header {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.username {
  font-weight: lighter;
  color: grey;
}

.tweet {
  margin-left: 1em;
  margin-right: 1em;
}

article footer {
  height: 60px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-top: 3px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div {
  margin-top: 1em;
  font-size: smaller;
}

footer i {
  color: #4056A1;
  font-size: small;
  margin-left: 2px;
  margin-right: 2px;
}

footer i:hover {
  color: gold;
}